trigger:
- master
- master-next

schedules:
- cron: "0 12 * * *"
  displayName: Daily build
  branches:
    include:
    - master
  always: true

stages:
- stage: freertos
  displayName: freeRTOS
  dependsOn: []
  jobs:
    - template: templates/build.yml
      parameters:
        pool:
          vmImage: 'ubuntu-22.04'
        machine: 'qemuarmv5'
        buildtype: 'freertos'
    - template: templates/build.yml
      parameters:
        pool:
          vmImage: 'ubuntu-22.04'
        machine: 'stm32f446'
        buildtype: 'freertos'
