trigger:
- master
- master-next
- dunfell

schedules:
- cron: "0 12 * * *"
  displayName: Daily build
  branches:
    include:
    - master
    - dunfell
  always: true

stages:
- stage: freertos
  displayName: freeRTOS
  dependsOn: []
  jobs:
    - template: templates/build.yml
      parameters:
        pool:
          vmImage: 'ubuntu-20.04'
        machine: 'qemuarmv5'
        buildtype: 'freertos'

- stage: multiconf
  displayName: LinuxFreeRTOS
  dependsOn: []
  jobs:
    - template: templates/build.yml
      parameters:
        pool:
          vmImage: 'ubuntu-20.04'
        machine: 'qemuarmv5'
        buildtype: 'poky'
